<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				color: #808080;
				font-family:Monospace;
				font-size:13px;
				text-align:center;

				background-color: #ffffff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
			}

			a {

				color: #0080ff;
			}

		</style>
	</head>
	<!-- Latest compiled and minified CSS -->


	<body style="padding-top:0px !important;">
    <link rel="stylesheet" id="css-main" href="/assets/css/oneui.min.css">
    <link rel="stylesheet" href="/stylesheets/loginsingup.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




		<script src="scripts/three.js"></script>

		<script src="scripts/Projector.js"></script>
		<script src="scripts/CanvasRenderer.js"></script>
		<script src="scripts/a.js"></script>
<div class="row1" style="">

		<span class ="col-xs-9"  id="openfirspage" style="position:absolute;  border:none; background-color:rgba(0,0,0,0);"><i class="fa fa-bars openfirspage"  aria-hidden="true" style="font-size:50px; color:white; margin:60px;"></i></span>




</div>
<div class="row2" style="display:none">

		<span class ="col-xs-2"  id="close"  style="dsplay:none; position:absolute;  border:none; background-color:rgba(0,0,0,0); right:0px;"><i class="fa fa-times "  aria-hidden="true" style="font-size:50px; color:white; margin:60px;"></i></span>




</div>

		<script type="text/javascript">

	var close = document.getElementById( 'close' );
				 close.addEventListener( 'click', ()=>{

				 	$('#container1').fadeOut(1500,()=>{
					$('#world').fadeIn(1900);
					$('.row1').fadeIn();
					$('.row2').fadeOut();

});
				 }, false );

				 </script>
<div class="row" id = 'skyview' style="">
<%-body-%>

</div>

<script type="text/javascript">
(function() {
	'use strict';
	/* 	'To actually be able to display anything with Three.js, we need three things:
		A scene, a camera, and a renderer so we can render the scene with the camera.'

	   		- https://threejs.org/docs/#Manual/Introduction/Creating_a_scene 		*/

	var scene, camera, renderer;

	/* We need this stuff too */
	var container, aspectRatio,
		HEIGHT, WIDTH, fieldOfView,
		nearPlane, farPlane,
		mouseX, mouseY, windowHalfX,
		windowHalfY, geometry,
		starStuff, materialOptions, stars,mesh;

	init();
	animate();

	function init() {
		container = document.createElement('div');
		container.setAttribute("id", 'world')
		container.setAttribute("class", 'sky')
		document.body.appendChild( container );
		document.body.style.overflow = 'hidden';

		HEIGHT = window.innerHeight;
		WIDTH = window.innerWidth;
		aspectRatio = WIDTH / HEIGHT;
		fieldOfView = 75;
		nearPlane = 1;
		farPlane = 1000;
		mouseX = 0;
		mouseY = 0;

		windowHalfX = WIDTH / 2;
		windowHalfY = HEIGHT / 2;

	/* 	fieldOfView — Camera frustum vertical field of view.
			aspectRatio — Camera frustum aspect ratio.
			nearPlane — Camera frustum near plane.
			farPlane — Camera frustum far plane.

			- https://threejs.org/docs/#Reference/Cameras/PerspectiveCamera

		 	In geometry, a frustum (plural: frusta or frustums)
		 	is the portion of a solid (normally a cone or pyramid)
		 	that lies between two parallel planes cutting it. - wikipedia.		*/

		camera = new THREE.PerspectiveCamera(fieldOfView, aspectRatio, nearPlane, farPlane);

		//Z positioning of camera

		camera.position.z = farPlane / 2;

		scene = new THREE.Scene({antialias:true});
		scene.fog = new THREE.FogExp2( 0x000000, 0.0003 );

		// The wizard's about to get busy.
		starForge();

		//check for browser Support
		if (webGLSupport()) {
			//yeah?  Right on...
			renderer = new THREE.CanvasRenderer();

		} else {
			//No?  Well that's okay.
			renderer = new THREE.CanvasRenderer();
		}

		renderer.setClearColor(0x000011, 1);
		renderer.setPixelRatio(window.devicePixelRatio);
		renderer.setSize( WIDTH, HEIGHT);
		container.appendChild(renderer.domElement);







		window.addEventListener( 'resize', onWindowResize, false );
		document.addEventListener( 'mousemove', onMouseMove, false );

	}

	function animate() {
		requestAnimationFrame(animate);
		render();

	}


	function render() {
		camera.position.x += ( mouseX - camera.position.x ) * 0.005;
		camera.position.y += ( - mouseY - camera.position.y ) * 0.005;
		mesh.rotation.y -= 0.005;
		camera.lookAt( scene.position );
		renderer.render(scene, camera);
	}

	function webGLSupport() {
		/* 	The wizard of webGL only bestows his gifts of power
			to the worthy.  In this case, users with browsers who 'get it'.		*/

		try {
			var canvas = document.createElement('canvas');
			return !!(window.WebGLRenderingContext && (
				canvas.getContext('webgl') || canvas.getContext('experimental-webgl'))
			);
		} catch(e) {
			// console.warn('Hey bro, for some reason we\'re not able to use webGL for this.  No biggie, we\'ll use canvas.');
			return false;
		}
	}

	function onWindowResize() {

		// Everything should resize nicely if it needs to!
	  	var WIDTH = window.innerWidth,
	  		HEIGHT = window.innerHeight;

	  	camera.aspect = aspectRatio;
	  	camera.updateProjectionMatrix();
	  	renderer.setSize(WIDTH, HEIGHT);
	}

	function starForge() {
		/* 	Yep, it's a Star Wars: Knights of the Old Republic reference,
			are you really surprised at this point?
													*/
		var starQty = 45000;
			geometry = new THREE.SphereGeometry(1000, 100, 50);

	    	materialOptions = {
	    		size: 1.0, //I know this is the default, it's for you.  Play with it if you want.
	    		transparency: true,
	    		opacity: 0.7
	    	};

	    	starStuff = new THREE.PointCloudMaterial(materialOptions);

		// The wizard gaze became stern, his jaw set, he creates the cosmos with a wave of his arms

		for (var i = 0; i < starQty; i++) {

			var starVertex = new THREE.Vector3();
			starVertex.x = Math.random() * 2000 - 1000;
			starVertex.y = Math.random() * 2000 - 1000;
			starVertex.z = Math.random() * 2000 - 1000;

			geometry.vertices.push(starVertex);

		}


		stars = new THREE.PointCloud(geometry, starStuff);
		scene.add(stars);


		var loader = new THREE.TextureLoader();

				loader.load( 'content/earth.jpg', function ( texture ) {

					var geometry = new THREE.SphereGeometry( 200, 20, 20 );

					var material = new THREE.MeshBasicMaterial( { map: texture, overdraw: 0.5 } );
					 mesh = new THREE.Mesh( geometry, material );
					scene.add( mesh );

				} );
	}


	function onMouseMove(e) {

		mouseX = e.clientX - windowHalfX;
		mouseY = e.clientY - windowHalfY;
	}

})();
</script>




		<div id="container1" class="" style="display:none;">
			<nav></nav>
		</div>

		<script>
			var camera, scene, renderer;
			var texture_placeholder,
			isUserInteracting = false,
			onMouseDownMouseX = 0, onMouseDownMouseY = 0,
			lon = 90, onMouseDownLon = 0,
			lat = 0, onMouseDownLat = 0,
			phi = 0, theta = 0,
			target = new THREE.Vector3();
			init();
			animate();
			function init() {
				var container1, mesh;
				container1 = document.getElementById( 'container1' );
				camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 1100 );
				scene = new THREE.Scene();
				texture_placeholder = document.createElement( 'canvas' );
				texture_placeholder.width = 128;
				texture_placeholder.height = 128;
				var context = texture_placeholder.getContext( '2d' );
				context.fillStyle = 'rgb( 200, 200, 200 )';
				context.fillRect( 0, 0, texture_placeholder.width, texture_placeholder.height );
				var materials = [
					loadTexture( 'skybox/px.jpg' ), // right
					loadTexture( 'skybox/nx.jpg' ), // left
					loadTexture( 'skybox/py.jpg' ), // top
					loadTexture( 'skybox/ny.jpg' ), // bottom
					loadTexture( 'skybox/pz.jpg' ), // back
					loadTexture( 'skybox/nz.jpg' ) // front
				];
				mesh = new THREE.Mesh( new THREE.BoxGeometry( 300, 300, 300, 7, 7, 7 ), materials );
				mesh.scale.x = - 1;
				scene.add( mesh );
				for ( var i = 0, l = mesh.geometry.vertices.length; i < l; i ++ ) {
					var vertex = mesh.geometry.vertices[ i ];
					vertex.normalize();
					vertex.multiplyScalar( 550 );
				}
				renderer = new THREE.CanvasRenderer();
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				container1.appendChild( renderer.domElement );


				// document.addEventListener( 'mousedown', onDocumentMouseDown, false );
				// document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				// document.addEventListener( 'mouseup', onDocumentMouseUp, false );
				// document.addEventListener( 'wheel', onDocumentMouseWheel, false );
				// document.addEventListener( 'touchstart', onDocumentTouchStart, false );
				// document.addEventListener( 'touchmove', onDocumentTouchMove, false );
				//
				window.addEventListener( 'resize', onWindowResize, false );
			}
			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
			}
			function loadTexture( path ) {
				var texture = new THREE.Texture( texture_placeholder );
				var material = new THREE.MeshBasicMaterial( { map: texture, overdraw: 0.5 } );
				var image = new Image();
				image.onload = function () {
					texture.image = this;
					texture.needsUpdate = true;
				};
				image.src = path;
				return material;
			}

			// function onDocumentMouseDown( event ) {
			// 	event.preventDefault();
			// 	isUserInteracting = true;
			// 	onPointerDownPointerX = event.clientX;
			// 	onPointerDownPointerY = event.clientY;
			// 	onPointerDownLon = lon;
			// 	onPointerDownLat = lat;
			// }
			function onDocumentMouseMove( event ) {
				if ( isUserInteracting === true ) {
					lon = ( onPointerDownPointerX - event.clientX ) * 0.1 + onPointerDownLon;
					lat = ( event.clientY - onPointerDownPointerY ) * 0.1 + onPointerDownLat;
				}
			}
			function onDocumentMouseUp( event ) {
				isUserInteracting = false;
			}
			function onDocumentMouseWheel( event ) {
				camera.fov += event.deltaY * 0.05;
				camera.updateProjectionMatrix();
			}
			function onDocumentTouchStart( event ) {
				if ( event.touches.length == 1 ) {
					event.preventDefault();
					onPointerDownPointerX = event.touches[ 0 ].pageX;
					onPointerDownPointerY = event.touches[ 0 ].pageY;
					onPointerDownLon = lon;
					onPointerDownLat = lat;
				}
			}
			function onDocumentTouchMove( event ) {
				if ( event.touches.length == 1 ) {
					event.preventDefault();
					lon = ( onPointerDownPointerX - event.touches[0].pageX ) * 0.1 + onPointerDownLon;
					lat = ( event.touches[0].pageY - onPointerDownPointerY ) * 0.1 + onPointerDownLat;
				}
			}
			function animate() {
				requestAnimationFrame( animate );
				update();
			}
			function update() {
				if ( isUserInteracting === false ) {
					lon += 0.3;
				}
				lat = Math.max( - 85, Math.min( 85, lat ) );
				phi = THREE.Math.degToRad( 90 - lat );
				theta = THREE.Math.degToRad( lon );
				target.x = 500 * Math.sin( phi ) * Math.cos( theta );
				target.y = 500 * Math.cos( phi );
				target.z = 500 * Math.sin( phi ) * Math.sin( theta );
				camera.position.copy( target ).negate();
				camera.lookAt( target );
				renderer.render( scene, camera );
			}
		// </script>
		<script type="text/javascript">

$('#openfirspage').on('click',()=>{

$('#world').fadeOut(1200,()=>{
	$('.row1').fadeOut();

$('#container1').fadeIn(1300);
$('.row2').fadeIn();

$('#skyview h1').remove();
$('#skyview').append('<nav class="col-xs-offset-3 col-xs-6" style="position:absolute; margin-top:300px;"><ul><li class="btn btn-primary btn-lg btn-block btn-huge"style="margin:60px; font-size:30px; background-color:rgba(46,109,104,0.5);" id="create" data-toggle="modal" data-target="#signuplogin">Create an Account</li><li style="margin:60px; font-size:30px; background-color:rgba(46,109,104,0.5);" class="btn btn-primary btn-lg btn-block btn-huge" id="login"  data-toggle="modal" data-target="#signuplogin">Login </li><li style="margin:60px; font-size:30px; background-color:rgba(46,109,104,0.5);" class="btn btn-primary btn-lg btn-block btn-huge" ><a href="/home" style="text-decoration:none; color:black;">Login As Anonymous</a></li></ul></nav>');
});



// $('#world').fadeOut(1000,()=>{
// 	$('.sky').fadeIn();


// });

});


</script>

<div class="container signuplogin modal fade" id='signuplogin' style="margin-top: 170px;">
  <div class="row">
    <div class="col-md-offset-3 col-md-5" id="signuplogin1">
      <form id="formLogin" action="/user/login" method="post">
        <div id="login-form" class="form-container" data-form-container style="color: rgb(198, 40, 40); background: rgb(255, 205, 210);">
          <div class="row">
            <div class="form-title col-xs-12">
              <span>Login</span>
            </div>
          </div>
          <div class="input-container">
            <div class="row" style="display:none">
              <span class="req-input valid confirm-password">
                                                                          <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your email."> </span>
              <input type="email" data-min-length="8" placeholder="Email" name="email">
              </span>
            </div>

            <div class="row">
              <span class="req-input valid">
                                                                            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your Username."> </span>
              <input type="text" data-min-length="8" placeholder="Username" name="username">
              </span>
            </div>

            <div class="row">
              <span class="req-input input-password invalid">
                                                                          <span class="input-status" data-toggle="tooltip" data-placement="top" title="Password must be at least 8 characters long."> </span>
              <input type="password" data-min-length="8" placeholder="Password" name="password">
              </span>
            </div>

            <div class="row" style="display:none">
              <span class="req-input confirm-password">
                                          <span class="input-status" data-toggle="tooltip" data-placement="top" title="Password Must Match Initial Password Field."> </span>
              <input type="password" data-min-length="8" placeholder="Confirm Password" name="confirmPassword">
              </span>
            </div>

            <div class="row">
              <a class="create-account col-xs-12"> Create an Account </a>
              <br>

              <a id="forgotPass" class="col-xs-12"> Forgot Password? </a>

            </div>

            <div class="row submit-row">
              <button class="btn btn-block submit-form invalid">Login</button>
            </div>
            <div class="oauth-buttons">
              <a href="/auth/facebook"><i class="fa fa-facebook"></i> </a>
              <a href="/auth/google"><i class="fa fa-google-plus"></i> </a>
              <a href="/auth/linkedin"><i class="fa fa-linkedin"></i> </a>
            </div>


          </div>
        </div>

      </form>
    </div>
    <div class="col-md-offset-3 col-md-5" id="forgotPassDIV" style="display:none;">
      <form action="/forgot/password" method="post">
        <div id="contact-form" class="form-container" data-form-container style="color: rgb(46, 125, 50); background: rgb(200, 230, 201);">
          <div class="row">
            <div class="form-title col-xs-12">
              <span> Reset Your Password </span>
            </div>
          </div>
          <div class="input-container">
            <div class="row">
              <div class="form-title col-xs-12">
                <span style="font-size:20px;"> Please Insert Your <br>Username or Password </span>
              </div>
            </div>

            <div class="row">
              <span class="req-input message-box valid">
                                            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Email or Username"> </span>
              <input type="text" name="inputForgotpass" data-min-length="8">
            </div>
            <div class="row submit-row">
              <button type="submit" class="btn btn-block submit-form valid">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/javascripts/sb-admin.min.js"></script>
<script src="/assets/js/oneui.min.js"></script>

	</body>
</html>
